
<div class="row d-flex justify-content-center mt-5">
    <div class="card shadow-sm col-3">
        <div class="card-body ">

          <!-- La sintaxis #***Form = "ngForm" nos da acceso al objeto de angular form que no se observa. Ahora podemos pasar postForm como argumento del metodo "submit".-->
            <form (submit)="onAddClient(clientdataForm)" #clientdataForm="ngForm">

                <div class="form-group">
                    <!-- La sintaxis #title = "ngModel" nos da acceso al objeto input. Si ngForm nos da acceso a todo el Form, ngModel nos da acceso a un objeto dentro del form..-->
                    <input ngModel name="name_input" type="text" class="form-control" placeholder="Nombre" required minlength="5" #name_input="ngModel">
                    <small class="text-danger" *ngIf="name_input.invalid">Ingrese su telefono.</small>
                </div>

                <div class="form-group">
                    <!-- [Value] busca una propiedad en su archivo .compontent.ts que se llama newPost. En el caso de querer colocar un string deberia ser " 'string' " -->
                    <input ngModel name="dni_input" type="text" class="form-control" placeholder="DNI" required minlength="5" #dni_input="ngModel">
                    <small class="text-danger" *ngIf="dni_input.invalid">Ingrese su telefono.</small>
                </div>

                <div class="form-group">
                    <!-- [Value] busca una propiedad en su archivo .compontent.ts que se llama newPost. En el caso de querer colocar un string deberia ser " 'string' " -->
                    <input ngModel name="phone_input" type="text" class="form-control" placeholder="Telefono" required minlength="9" #phone_input="ngModel">
                    <small class="text-danger" *ngIf="phone_input.invalid">Ingrese su telefono.</small>
                </div>

                <div class="form-group">
                    <!-- [Value] busca una propiedad en su archivo .compontent.ts que se llama newPost. En el caso de querer colocar un string deberia ser " 'string' " -->
                    <input ngModel name="address_input" type="text" class="form-control" placeholder="Direccion" required minlength="5" #address_input="ngModel">
                    <small class="text-danger" *ngIf="address_input.invalid">Ingrese su direccion.</small>
                </div>

                <button type="submit" class="btn btn-success shadow-sm">Add Client</button>

            </form>
        </div>
      </div>
    </div>
